.creator-profile-menu-holder {
    padding-bottom: 100px;
    background: #f6f7f9;

    .creator-profile-menu {
        background: #ffffff;
        justify-content: center;
        display: flex;

        
    }
    
    .tabBody {
        padding-top: 0;
    }
}